include README.rst
include CHANGELOG.rst
include sphinxcontrib/excel_table/templates/*.html
include sphinxcontrib/excel_table/resources/_static/*
include sphinxcontrib/excel_table/resources/_templates/*
